.buttonHollow-root {
  text-align: center;
  box-shadow: 0px 0px 10px #888888;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  color: #7c7c7c;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.buttonHollow-root:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px #888888;
}
