.coverImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.containerBox {
  position: relative;
  display: inline-block;
}

.text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}

.text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.text-moto {
  display: inline-block;
  font-size: 4vw;
  color: #ffffff;
}
