.main-home {
  margin-bottom: 100px;
}

.top-header-div {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #60e5e5;
  background-image: linear-gradient(19deg, #60e5e5 0%, #d8ff96 100%);
}

.text-moto {
  color: #7c7c7c;
  text-align: center;
  padding-bottom: 40px;
}

.search-button {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
}
.statistics-row {
  margin-top: 50px;
  margin-bottom: 30px;
}
.card {
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}
.view-more {
  color: "teal";
}
