.main-home {
  margin-bottom: 100px;
}
.coverImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.containerBox {
  position: relative;
  display: inline-block;
}

.text-box {
  position: absolute;
  height: 70%;
  text-align: center;
  width: 100%;
}

.text-box:before {
  content: '';
  display: inline-block;
  height: 70%;
  vertical-align: middle;
}

.search {
  display: inline-block;

  width: 100%;
  vertical-align: middle;
}

.search-button {
  margin-top: 15px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.inside-search {
  width: 50%;
  vertical-align: middle;
  display: inline-block;

  text-align: center;
  align-items: center;
}

.text-moto {
  display: inline-block;
  font-size: 4vw;
  color: #ffffff;
}

.statistics-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
